<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
</head>
<body>
    <h1>Image Uploader</h1>
    
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpeg,.png,.jpg" required>
        <button type="submit">Upload</button>
    </form>
    {% if parsed_data %}
    <h2>Emotion Details</h2>
    <div id="imageGallery">
      <h3>Emotion1: {{ parsed_data['emotion_details']['emotion'] }}</h3>
      <h3>Confidence: {{ parsed_data['emotion_details']['confidence'] }}</h3>
      <h3>Analysis: {{ parsed_data['emotion_details']['analysis'] }}</h3>

      <h3>Face Details: {{ parsed_data['face_details']['bbox'] }}</h3>
      <h3>Race Details: {{ parsed_data['race_details']['race'] }}</h3>
      <h3>Race Confidence: {{ parsed_data['race_details']['confidence'] }}</h3>

      <h3>Gender Details: {{ parsed_data['gender_details']['gender'] }}</h3>
      <h3>Gender Confidence: {{ parsed_data['gender_details']['confidence'] }}</h3>
    </div>
{% endif %}



    </div>

    <!-- JavaScript code to display uploaded images -->
    <script>
        // Fetch uploaded images from the server and display them
        async function fetchImages() {
            const response = await fetch('/images');
            const images = await response.json();
            const imageGallery = document.getElementById('imageGallery');

            images.forEach(image => {
                const imgElement = document.createElement('img');
                imgElement.src = 'data:image/jpeg;base64,' + image.data; // Assuming images are stored as base64 encoded strings
                imgElement.alt = image.name;
                imageGallery.appendChild(imgElement);
            });
        }

        // Call fetchImages() when the page loads
        fetchImages();
    </script>
</body>
</html>
